.header {
  height: 100vh;
  background-image: linear-gradient(
      to right top,
      rgba($color-primary-dark, 0.75),
      rgba($color-primary-light, 0.3)
    ),
    url(../img/header-photo-phone.jpg);

  background-size: cover;
  background-position: top;

  &__container-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    p {
      align-self: flex-start;
      font-weight: 300;
      font-style: italic;
      font-size: 1rem;
      margin-top: 0.3rem;
      margin-left: 1.2rem;
      margin-bottom: 4rem;
      letter-spacing: 0.5px;
      color: $color-grey-light-3;
      // color: transparent;
    }
  }

  &__container-btn {
    margin-top: 1rem;
  }
}

.bio {
  background-color: $color-grey-light-2;
  &__container {
    padding: 0 1rem;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1.6rem;
    border-radius: 5px;
    box-shadow: $box-sha-2;
    background-color: $color-white;
    overflow: hidden;
  }

  &__fig {
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
  }

  &__fig::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to right top,
      rgba($color-primary-dark, 0.6),
      rgba($color-primary-light, 0.1)
    );
  }

  &__heading {
    margin-top: -3rem;
    z-index: 1;
  }

  &__description {
    width: 100%;
    padding: 1rem 1rem 0 1rem;

    p {
      font-size: 1.1rem;
      color: $color-secondary-text;
      text-align: center;
      letter-spacing: 0.7px;
    }
  }
}
