.header {
  height: 100vh;
  background-image: linear-gradient(
      to right top,
      rgba($color-primary-dark, 0.75),
      rgba($color-primary-light, 0.3)
    ),
    url(../img/header-photo-phone.jpg);

  background-size: cover;
  background-position: top;
  background-attachment: fixed;

  &__container-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    h1 {
      align-self: flex-start;
    }

    p {
      align-self: flex-start;
      font-weight: 300;
      font-style: italic;
      font-size: 1rem;
      margin-top: 0.3rem;
      margin-left: 1.2rem;
      margin-bottom: 4rem;
      letter-spacing: 0.5px;
      color: $color-grey-light-3;
      // color: transparent;
    }
  }

  &__container-btn {
    margin-top: 1rem;
  }
}

.bio {
  background-image: linear-gradient(
    to right top,
    rgba($color-primary-dark, 0.9),
    rgba($color-accent, 0.7)
  );
  padding-bottom: 2rem;

  &__container {
    display: flex;
    justify-content: center;
    padding: 0 1rem;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
  &__card {
    display: flex;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1.6rem;
    border-radius: 5px;
    box-shadow: $box-sha-2;
    background-color: $color-white;
    overflow: hidden;
  }

  &__fig {
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 385px;
      object-fit: cover;
    }

    &--1 {
      img {
        object-position: bottom;
      }
    }
  }

  &__fig::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to right top,
      rgba($color-primary-dark, 0.6),
      rgba($color-primary-light, 0.1)
    );
  }

  &__heading {
    margin-top: -3rem;
    z-index: 1;
  }

  &__description {
    width: 100%;
    padding: 1rem 1rem 0 1rem;

    p {
      font-size: 1.4rem;
      color: $color-secondary-text;
      text-align: center;
      letter-spacing: 0.7px;
    }
  }
}

.gallery {
  background-image: linear-gradient(
    to right top,
    rgba($color-primary-dark, 0.9),
    rgba($color-accent, 0.7)
  );
  padding-bottom: 3rem;

  .swiper-container {
    height: auto;
  }

  .swiper-slide {
  }
}

.repertoire {
  padding-bottom: 2rem;
  background-image: linear-gradient(
      to right top,
      rgba($color-white, 0.9),
      rgba($color-white, 0.7)
    ),
    url(../img/background-image-1.jpg);
  background-size: cover;
  background-attachment: fixed;

  &__category {
    font-size: 1.3rem;
    font-weight: 400;
    color: $color-black;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
  }
  &__list {
    padding: 1rem 0;
  }

  &__item {
    color: $color-secondary-text;
    text-decoration: none;
    list-style: none;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0.2rem 2rem;
  }
}

.newsletter {
  background-color: $color-grey-light-3;

  padding: 10rem 0;

  &__box {
    display: block;
    background-image: linear-gradient(
        to right top,
        rgba($color-white, 0.8),
        rgba($color-white, 0.8)
      ),
      url(../img/background-image-2.jpg);
    background-size: cover;
    background-position: center;

    background-color: #fff;
    margin: 0 2rem;
    padding: 0 2rem;
    border-radius: 5px;
  }
}

.form {
  &__heading {
    padding-top: 2rem;
    margin-bottom: 2rem;
  }

  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:last-child {
      padding-bottom: 2rem;
    }
  }

  &__input {
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    padding: 1rem 1rem;
    border-radius: 2px;
    border: none;
    outline: none;
    display: inline-block;
    border-bottom: 3px solid transparent;
    transition: border 0.3s;
    // min-width: 220px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid green;
    }

    &:focus:invalid {
      border-bottom: 3px solid orange;
    }

    &::-webkit-input-placeholder {
      color: $color-secondary-text;
    }

    &-message {
      border: none;
      height: 6rem;
    }
  }

  &__label {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: $color-secondary-text;
  }

  &__input:placeholder-shown ~ &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}

.features {
  background-color: $color-grey-light-3;
  padding: 1.5rem 1rem;
  &__container {
    padding: 1rem;
  }

  &__box {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .icon {
    font-size: 3rem;
    color: $color-accent;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 1.8rem;
    color: $color-primary-text;
    padding: 0 0 1rem;
    text-transform: uppercase;
    font-weight: 400;
  }

  p {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: $color-primary-text;
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
  }
}

.footer {
  background-color: $color-grey-dark-1;
  padding: 1rem 0 0;

  &__title {
    padding: 1rem 0;
    &--name {
      font-family: Great Vibes;
      color: $color-primary;
      font-size: 3.5rem;
      text-align: center;
    }
  }

  &__social {
    list-style: none;
    font-size: 3rem;
    display: block;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid $color-primary;
    padding: 2rem;
    margin: 0 2rem;
    li {
      display: inline-block;
      padding: 0 2rem;
      a {
        color: $color-primary;
        text-decoration: none;
      }
      .icon--facebook:hover {
        color: #1877f2;
      }
      .icon--instagram:hover {
        color: #c32aa3;
      }
    }
  }

  p {
    color: $color-primary;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1rem;
    border-top: 1px solid $color-primary;
    padding: 2rem 0rem;
    margin: 0 2rem;
  }
}

.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    position: fixed;
    top: 3.2rem;
    right: 3.2rem;
    background-image: linear-gradient(
      to right top,
      rgba($color-primary-dark, 0.95),
      rgba($color-accent, 0.95)
    );
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &__nav {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    width: 100%;
    list-style: none;
    text-align: center;
    margin-top: 15rem;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      padding: 0.5rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    left: 0;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-primary-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
