.heading-primary {
  align-self: flex-start;
  font-size: 3.4rem;
  font-weight: 100;
  color: $color-grey-light-3;
}

.heading-secondary {
}

.heading-tertiary {
  font-weight: 300;
  font-size: 1.8rem;
  color: $color-white;
}
