.btn {
  &:link,
  &:visited {
    display: inline-block;
    // text-transform: uppercase;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 10rem;
    box-shadow: $box-sha-3;
    transition: all 0.2s;
    position: relative;
    font-size: 1.2rem;
    z-index: 1;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: $box-sha-2;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: $box-sha-3;
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--primary {
    background-color: transparent;

    &::after {
      background-color: $color-grey-light-3;
    }
  }

  &--secondary {
    background-color: $color-accent-dark;
    color: $color-grey-light-5;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(0.3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn--ghost:link,
.btn--ghost:visited {
  border: 1px solid $color-grey-light-5;
  color: $color-grey-light-5;
}

.btn--ghost:hover,
.btn--ghost:active {
  border: 1px solid $color-grey-light-4;
  background: rgba(121, 85, 72, 0.5);
}
