.gallery {
  background-image: linear-gradient(
    to right top,
    rgba($color-primary-dark, 0.9),
    rgba($color-accent, 0.7)
  );
  padding-bottom: 3rem;

  .swiper-container {
    height: auto;
  }

  .swiper-pagination {
    margin-bottom: 1rem;
  }
  .swiper-pagination-bullet-active {
    background-color: $color-accent;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $color-accent;
  }
}
