.gallery {
  background-image: linear-gradient(
    to right top,
    rgba($color-primary-dark, 0.9),
    rgba($color-accent, 0.7)
  );
  padding: 0 2rem 3rem;
  overflow: hidden;

  .swiper-container {
    background-color: black;
    max-height: 820px;
    max-width: 1440px;
  }

  .swiper-wrapper {
    background-color: black;
    max-height: 820px;

    // .vert-photo {
    //   display: block;
    //   margin-left: auto;
    //   margin-right: auto;
    //   max-height: 820px;
    //   width: auto;
    // }
  }
  .swiper-pagination {
    margin-bottom: 0rem;
  }

  .swiper-pagination-bullet-active {
    background-color: $color-accent;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $color-accent;
  }
}
