.polaroid-item.swiper-slide {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .polaroid-fig {
    position: relative;
    box-shadow: $box-sha-2;

    img {
      display: block;
      height: 100%;
      width: auto;
      object-fit: contain;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
